.columns:last-child {
  margin-bottom: 0;
}

.columns {
  margin-right: 0;
}

@media print {
  .has-text-white {
    color: black !important;
  }
  .is-hidden-print {
    display: none;
  }
  .top-header {
    margin-bottom: 0px;
  }
  .top-header > .column-wrap {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
}

@media screen {
  .is-hidden-screen {
    display: none;
  }
}
