.columns:last-child {
  margin-bottom: 0;
}

.columns {
  margin-right: 0;
}

@media print {
  .has-text-white {
    color: black !important;
  }
  .is-hidden-print {
    display: none;
  }
}

@media screen {
  .is-hidden-screen {
    display: none;
  }
}
